* {
  margin: 0;
}
.img {
  width: 100%;
  height: 20%;
  background-image: url(./pic/Untitled-5\ copy_6.jpg);
  width: 100%;
  height: 20%;
  position: relative;
}
.logo {
  color: rgb(187, 0, 0);
  font-size: 55px;
  text-shadow: 5px 8px 5px black;
}
.title {
  color: rgb(255, 248, 248);
  padding-left: 15px;
  text-shadow: 5px 8px 5px black;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navli {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  padding: 0 15px 0 15px;
}
.navli:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.5s;
}
.navi {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-right: 60px;
  background-color: black;
}

.nav {
  padding-left: 55px;
}
.main {
  background-image: url(./pic/coffee-2242213_1920.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
}
table {
  display: flex;
  justify-content: center;
  

}
.esp {
  position: relative;
}
.para {
  color: aliceblue;
  position: absolute;
  top: 31%;
  padding: 8px;
  display: none;
}
.ig:hover + .para {
  display: block;
  transition: 0.8s;
}
.ig:hover {
  opacity: 60%;
}
.igl {
  position: relative;
}
.pala {
  color: aliceblue;
  position: absolute;
  top: 31%;
  padding: 8px;
  display: none;
}
.igla:hover + .pala {
  display: block;
  transition: 0.8s;
}
.igla:hover {
  opacity: 60%;
}
.fl {
  position: relative;
}
.flata {
  color: aliceblue;
  position: absolute;
  top: 40%;
  padding: 8px;
  display: none;
}
.flat:hover + .flata {
  display: block;
  transition: 0.8s;
}
.flat:hover {
  opacity: 60%;
}
.mo {
  position: relative;
}
.mochap {
  color: aliceblue;
  position: absolute;
  top: 28%;
  padding: 8px;
  display: none;
}
.mocha:hover + .mochap {
  display: block;
  transition: 0.8s;
}
.mocha:hover {
  opacity: 60%;
}
.am {
  position: relative;
}
.amp {
  color: aliceblue;
  position: absolute;
  top: 10%;
  padding: 8px;
  display: none;
}
.amig:hover + .amp {
  display: block;
  transition: 0.8s;
}
.amig:hover {
  opacity: 60%;
}
.cor {
  position: relative;
}
.corh {
  color: aliceblue;
  position: absolute;
  top: 0;
  padding: 8px;
  display: none;
}
.corg:hover + .corh {
  display: block;
  transition: 0.8s;
}
.corg:hover {
  opacity: 60%;
}
.menu {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(114, 20, 40);
}
.menu:hover {
  background-color: aliceblue;
  color: black;
}



